## TSF GRIP  **Task#3**
##  **Author :** Ahmed Tarek Elsayed

# Importing libraries needed in this project

In [210]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly .express as px
import plotly.graph_objects as go
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [211]:
!gdown --id 1lV7is1B566UQPYzzY8R2ZmOritTW299S

Downloading...
From: https://drive.google.com/uc?id=1lV7is1B566UQPYzzY8R2ZmOritTW299S
To: /content/SampleSuperstore.csv
100% 1.11M/1.11M [00:00<00:00, 127MB/s]

# Understanding the data

In [212]:
data =pd.read_csv('/content/SampleSuperstore.csv')
data.head()

        Ship Mode    Segment        Country  ... Quantity Discount    Profit
0    Second Class   Consumer  United States  ...        2     0.00   41.9136
1    Second Class   Consumer  United States  ...        3     0.00  219.5820
2    Second Class  Corporate  United States  ...        2     0.00    6.8714
3  Standard Class   Consumer  United States  ...        5     0.45 -383.0310
4  Standard Class   Consumer  United States  ...        2     0.20    2.5164

[5 rows x 13 columns]

In [213]:
data.isnull().sum()

Ship Mode       0
Segment         0
Country         0
City            0
State           0
Postal Code     0
Region          0
Category        0
Sub-Category    0
Sales           0
Quantity        0
Discount        0
Profit          0
dtype: int64

Nice there are no null data ðŸ˜ŠðŸ˜Š

In [214]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship Mode     9994 non-null   object
 1   Segment       9994 non-null   object
 2   Country       9994 non-null   object
 3   City          9994 non-null   object
 4   State         9994 non-null   object
 5   Postal Code   9994 non-null   int64
 6   Region        9994 non-null   object
 7   Category      9994 non-null   object
 8   Sub-Category  9994 non-null   object
 9   Sales         9994 non-null   float64
 10  Quantity      9994 non-null   int64
 11  Discount      9994 non-null   float64
 12  Profit        9994 non-null   float64
dtypes: float64(3), int64(2), object(8)
memory usage: 1015.1+ KB

In [215]:
data.describe()

        Postal Code         Sales     Quantity     Discount       Profit
count   9994.000000   9994.000000  9994.000000  9994.000000  9994.000000
mean   55190.379428    229.858001     3.789574     0.156203    28.656896
std    32063.693350    623.245101     2.225110     0.206452   234.260108
min     1040.000000      0.444000     1.000000     0.000000 -6599.978000
25%    23223.000000     17.280000     2.000000     0.000000     1.728750
50%    56430.500000     54.490000     3.000000     0.200000     8.666500
75%    90008.000000    209.940000     5.000000     0.200000    29.364000
max    99301.000000  22638.480000    14.000000     0.800000  8399.976000

In [216]:
data.corr()

             Postal Code     Sales  Quantity  Discount    Profit
Postal Code     1.000000 -0.023854  0.012761  0.058443 -0.029961
Sales          -0.023854  1.000000  0.200795 -0.028190  0.479064
Quantity        0.012761  0.200795  1.000000  0.008623  0.066253
Discount        0.058443 -0.028190  0.008623  1.000000 -0.219487
Profit         -0.029961  0.479064  0.066253 -0.219487  1.000000

In [217]:
data = data.drop(['Postal Code','Country'],axis=1)
data.head()

        Ship Mode    Segment             City  ... Quantity Discount    Profit
0    Second Class   Consumer        Henderson  ...        2     0.00   41.9136
1    Second Class   Consumer        Henderson  ...        3     0.00  219.5820
2    Second Class  Corporate      Los Angeles  ...        2     0.00    6.8714
3  Standard Class   Consumer  Fort Lauderdale  ...        5     0.45 -383.0310
4  Standard Class   Consumer  Fort Lauderdale  ...        2     0.20    2.5164

[5 rows x 11 columns]

In [218]:
data.corr().style.background_gradient(cmap='Blues')

In [ ]:
sns.pairplot(data)

# Visualizing the data

In [ ]:
data['Ship Mode'].value_counts()

In [ ]:
plt.figure(figsize=(7,7))
sns.countplot(data['Ship Mode'])
plt.show()

Standard Class is the most preferred ship mode

In [ ]:
data['Segment'].value_counts()

In [ ]:
myexplode = [0.1, 0.03, 0.08]
plt.figure(figsize=(10,10))
plt.pie(data['Segment'].value_counts(), data=data,labels=data['Segment'].value_counts().index,explode=myexplode,shadow=True,autopct='%1.1f%%',textprops={'fontsize': 20})
centre_circle = plt.Circle((0,0),0.20,fc='white')
fig = plt.gcf()
fig.gca().add_artist(centre_circle)
plt.legend(prop={'size':14})
plt.show()

In [ ]:
fig = px.bar(data,x=data['State'],y=data['Sales'],color=data['Region'],text_auto='.2s',
             title="Sales of each State")
fig.update_layout(
    autosize=False,
    width=1200,
    height=800)
fig.show()

California and New york make most number of sales

In [ ]:
sales=data.groupby('State')['Sales','Profit'].sum().sort_values(by='Sales', ascending=False)
sales.plot.bar(color=['blue','red'],figsize=(32,15))
plt.xlabel('States',size=30)
plt.ylabel('Profit/Loss',size=30)
plt.xticks(size=25)
plt.yticks(size=20)
plt.title('Sales and Profits for all the states',size=40)
plt.show()

> Maximum sales and profits happen to be in California and New York.

> West Virginia and North Dakota have minimum sales.

> Maximum losses are from Taxes.

In [ ]:
data['Region'].value_counts()

In [ ]:
reg=data.groupby('Region')['Sales','Profit'].sum()
reg.plot.bar(color=['blue','red'],figsize=(10,10))



> West makes most sales and profits


> Centeral makes least profit but they more than South whoes makes less sales and more profits

In [ ]:
st_dis = data.groupby('State')['Discount'].sum()
st_dis.plot.barh(figsize=(30,15))
plt.xlabel('Discount')

> Texas takes **most discount**

> Texas makes the **least profits**

> Texas **Sales are the most 3rd one**

In [ ]:
reg_dis = data.groupby('Region')['Discount'].sum()
reg_dis.plot.barh()
plt.xlabel('Discount')

Centeral have the most Discount 


> Note: Texas is in a Centeral Region

In [ ]:
cat = data.groupby('Category')['Sales','Profit'].sum()
cat.plot.bar(figsize=(7,7))

Technology makes the most sales and profits

In [ ]:
sub = data.groupby('Sub-Category')['Sales','Profit'].sum()
sub.plot.bar(figsize=(12,12))

> Chairs and Phones makes the maximum sales.

> Tables makes most loses then Bookcases

In [ ]:
cat_q=data.groupby('Category')['Profit','Quantity'].sum()
cat_q.plot.bar(color=['blue','red'],figsize=(7,7))


> Technology makes maximum profit,with minimum quantities being sold.

>Furniture makes least profit.

In [ ]:
sub_q=data.groupby('Sub-Category')['Profit','Quantity'].sum()
sub_q.plot.bar(color=['blue','red'],figsize=(17,8))

> Copiers makes maximum profits with less quantity